@import url("/styles/base.css");

header {
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: center;
}

main {
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: center;
}

.main-image {
	width: 50%;
}

.title {
	font-size: 3rem;
	white-space: nowrap;
	text-decoration: underline;
}

.nav-anchor {
	align-self: flex-start;
}

.nav-anchor>li>a {
	color: white;
	font-size: 1.6rem;
}

